<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>

<body>
    <h2>Add new chats here</h2>
    <form action="/chats" method="post">
        <h3>From: <input type="text" name="from"></h3>
        <h3>To: <input type="text" name="to"></h3>
        <h3>Message: <textarea name="message" id="" cols="20" rows="5" placeholder="Write your message here"></textarea>
        </h3>
        <button type="submit">Submit</button>
    </form>
</body>

</html>